<div class="container">
<p id="notice"><%= notice %></p>

<h1>Tous les Articles</h1>

	<hr/>
    <div class="containerBis">

        <div id="my-articles" class="containerBis">
          <%= render @articles %>
        </div>

        <div id="infinite-scrolling">
          <%= will_paginate %>
        </div>
    </div>


    <% if current_user %>
        <%= link_to 'New Article', new_article_path %>
    <% end %>
    </div>

<script>
      $('.time_display').each(function() {
          this.textContent = moment(this.textContent).fromNow();
      });
</script>
