<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        Contributions & Témoignages
      </div>
      <div class="panel-body contrib">
          <ul id="nt-example-contrib" class="contrib-news">
            <% @contrib.each do |info| %>
                <li>
                  <%= info.titre %>
                  <p><%= info.surtitre %></p>
                  <i class="fa fa-book" style="color: palegreen"></i><%= link_to 'Lire', info %>
                </li>
            <% end %>
          </ul>
      </div>
    </div>
</div>