<div class="col-md-4 col-sm-4 ">
  <div class="panel panel-info" id="dec">
    <div class="panel-heading">
      Decouvertes
    </div>
    <div class="panel-body actusec">
      <p><%= @pub.contenu.html_safe %></p>
    </div>
  </div>
</div>