  <div class="panel panel-info">
    <div class="panel-heading">
      Informations
    </div>
    <div class="panel-body">
        <ul id="nt-example1" >
          <% @depeche.each do |infcont| %>
              <li><%= infcont.titre %><i class="fa fa-book" style="color: #98FB98"></i> <%= link_to 'Lire', infcont %> </li>
          <% end %>
        </ul>
    </div>
  </div>