

<h3 class="text-center headrubrique">Informations</h3>
<ul id="nt-example1" class="sagesse-news">
  <% @sagess.each do |sagesse| %>
      <li><%= image_tag 'magal.png' , :id =>'minim',:class=>'text-center'%><br/><%= sagesse.titre %> <%= link_to 'Lire', sagesse %> </li>
  <% end %>
</ul>