<div class="col-md-4 col-sm-4 col-xs-4">
  <div class="col-md-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              Enseignement de la semaine
          </div>
          <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
          </div>
          <div class="panel-footer">
              Panel Footer
          </div>
      </div>
  </div>
  <div class="col-md-12">
    <!--   Kitchen Sink -->
      <div class="panel panel-default">
          <div class="panel-heading">
              Heures de priéres
          </div>
          <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover">
                      <thead>
                          <tr>
                              <th>Priére</th>
                              <th>Heure</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Fajr</td>
                              <td>05:39AM</td>
                          </tr>
                          <tr>
                              <td>Takussan</td>
                              <td>1:30PM</td>
                          </tr>
                          <tr>
                              <td>Takussan</td>
                              <td>04:45PM</td>
                          </tr>
                          <tr>
                              <td>Tmis</td>
                              <td>07:52PM</td>
                          </tr>
                          <tr>
                              <td>Guéwé</td>
                              <td>08:52PM</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
       <!-- End  Kitchen Sink -->
     </div>
  </div>
