<div class="col-md-4 col-sm-6 col-xs-12 text-center actuprincip">
  <h3>Mouride  de la semaine </h3>
  <%= image_tag('http://magal-touba.org/magal/IMG/arton941.jpg', class: 'center-block') %>
  <h5><%= link_to 'SERIGNE DAME ABDOURAHMANE LO : le Grand Maître, une des grandes figures du Mouridisme.', @mouride_semaine %></h5>
</div>