<div class="col-md-4 col-sm-4">
  <div class="panel panel-info" id="numu">
    <div class="panel-heading">
      Numéros Utiles
    </div>
    <div class="panel-body">
      <p><strong>Comission du Magal:</strong>+133655555</p>
      <p><strong>Gendarmerie:</strong>+133655555</p>
      <p><strong>Pompiers:</strong>+133655555</p>
      <p><strong>Matlaboul Fawzayni:</strong>+133655555</p>
      <p><strong>SAMU:</strong>+133655555</p>
    </div>
  </div>
</div>