<div class="col-md-4 col-sm-6 col-xs-12 text-center actuprincip">
  <div class="panel panel-info">
    <div class="panel-heading">
      Lieu de la semaine
    </div>
  </div>
  <%= image_tag('http://magal-touba.org/magal/IMG/arton941.jpg', class: 'center-block') %>
</div>