<div class="col-md-4 col-sm-6 col-xs-12 text-center actuprincip">
  <div class="panel panel-info">
    <div class="panel-heading">
      Pub
    </div>
  </div>

  <%= image_tag('http://magal-touba.org/magal/IMG/arton964.gif', class: 'center-block', width: '300', height: '300') %>

</div>