<div class="col-md-4 col-sm-4">
  <div class="panel panel-info">
    <div class="panel-heading">
      Publicite
    </div>
    <div class="panel-body">
      <p><%= @pub.contenu.html_safe %></p>
    </div>
  </div>
</div>