<div class="col-md-8">
    <div class="alert alert-danger">
        This is a simple admin template that can be used for your small project or may be large projects. This is free for personal and commercial use.
    </div>
    <hr />
     <div class="Compose-Message">
      <div class="panel panel-success">
          <div class="panel-heading">
              Compose New Message
          </div>
          <div class="panel-body">

              <label>Enter Recipient Name : </label>
              <input type="text" class="form-control" />
              <label>Enter Subject :  </label>
              <input type="text" class="form-control" />
              <label>Enter Message : </label>
              <textarea rows="9" class="form-control"></textarea>
              <hr />
              <a href="#" class="btn btn-warning"><span class="glyphicon glyphicon-envelope"></span> Send Message </a>&nbsp;
            <a href="#" class="btn btn-success"><span class="glyphicon glyphicon-tags"></span>  Save To Drafts </a>
          </div>
          <div class="panel-footer text-muted">
              <strong>Note : </strong>Please note that we track all messages so don't send any spams.
          </div>
      </div>
     </div>

     <div class="col-md-12">
         <div class="alert alert-warning">
             This Template supports of all icons of botstrap 3.3.2 whose css classes you can find on below link. There are 100s of icons you can use.
           <br />
             <a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Bootstrap glyphicons Icons</a>
             <br />
             <h4>Usage Example :</h4>
             <br />
Icon Display :
               <br />
             <span style="font-size: 50px;" class="glyphicon glyphicon-user"></span>
             <br />
Css Class :<i> glyphicon glyphicon-user </i>

             <br />
         </div>
     </div>
</div>
