<div class="sagesse actuprincip" id="#">
  <h4 style="text-align: center">Sagesse</h4>
  <h4><%= link_to @sagess.titre, @sagess %></h4>
  <p style="text-align: justify"><%= @sagess.surtitre %></p>
</div>