

  <h3 class="text-center headrubrique">Sagesse</h3>
  <ul id="nt-example1" class="newsticker">
    <% @sagess.each do |sagesse| %>
        <li><%= image_tag 'magal.png' , :id =>'minim',:class=>'text-center'%><br/><%= sagesse.titre %> <%= link_to 'Lire', sagesse %> </li>
    <% end %>
  </ul>
