  <div class="panel panel-info">
    <div class="panel-heading">
      Sagesse
    </div>
    <div class="panel-body">
      <ul id="nt-example1" >
        <% @sagess.each do |sagesse| %>
            <li><%= sagesse.titre %><i class="fa fa-book" style="color: #98FB98"></i> <%= link_to 'Lire', sagesse %> </li>
        <% end %>
      </ul>
    </div>
  </div>
