<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
    <section id="news-demo">
        <%= @a_la_une.each do |slide| %>
        <article>
            <div class="text-content">
                <h2><%= link_to slide.titre, slide %></h2>
                <p class="text"></p>
            </div>
            <div class="image-content">
              <% if slide.image_a_la_une.nil? %>
                  <%= image_tag(slide.image_a_la_une) %>
              <% else %>
                  <%= image_tag('http://placehold.it/750x350') %>
              <% end %>
            </div>
        </article>
        <% end %>
    </section>
    <div>
    </div>
</div>