<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Acceuil</h4>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 ">
            <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
                <i class="fa fa-venus dashboard-div-icon" ></i>
                <div class="progress progress-striped active">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  </div>
                </div>
                <h5>A la Une </h5>
            </div>
        </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Mouride  de la semaine </h5>

        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Dossiers & Reportages</h5>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Youtube</h5>
        </div>
      </div>

      <div >
        <%= render 'left_part' %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Témoignages</h5>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-6">
        <div class="dashboard-div-wrapper bk-clr-one actuprincip" id="#">
          <i class="fa fa-venus dashboard-div-icon" ></i>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            </div>
          </div>
          <h5>Sagesse</h5>
        </div>
      </div>



    </div>

</div>
