p.article{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    word-wrap: break-word;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 30px;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.content-wrapper{
    background-color: #FFF;
    color: rgba(0,0,0,0.8);
}

.thumb{
    height: 150px;
    background-position:center;
    margin: auto;
}


/* News */
.news-slider {
    /* Style the actual content */
}
.news-slider .text-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;
    width: 40%;
    height: 100%;
}

.news-slider .text-content h2 {

    font-size: x-large;
}
.news-slider .text-content p {
    margin: 1em 0;
}
.news-slider .text-content a.button-link {
    padding: 0.25em 0.5em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.news-slider .image-content {
    line-height: 0;
}
.news-slider .image-content img {
    max-width: 100%;
}
.news-slider .news-pager {
    text-align: right;
    display: block;
    margin: 0.2em 0 0;
    padding: 0;
    list-style: none;
}
.news-slider .news-pager li {
    display: inline-block;
    padding: 0.6em;
    margin: 0 0 0 1em;
}
.news-slider .news-pager li.sy-active a {
    color: #31ace2;
}
.news-slider .news-pager li a {
    font-weight: 500;
    text-decoration: none;
    display: block;
    color: #222;
}

#accordion .panel-default {
    border-color: rgba(119, 119, 119, 0.86);
}

#accordion .panel-default .panel-title .collapsed{
    text-decoration: none;
    color: rgba(119, 119, 119, 0.86);
}

#accordion .panel-default .panel-heading{
    background-color: #fff;
}

#accordion .panel-default .panel-collapse{
    color: #FFF;
    background-color: rgba(119, 119, 119, 0.86);
}

#news-demo .text-content{
    background-color: rgba(119, 119, 119, 0.86);
    color: #FFF;
}

#news-demo .text-content h2 a{
    text-decoration: none;
    color: #FFF;
}
#news-demo .text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#news-demo .image-content{
   width: 60%;
    float: right;
}

.panel-info{

}
.panel-info > .panel-heading {
    color: #FFF;
    background-color: #228B22;

}

.panel-info > .panel-body {
    color: #FFF;
    background-color: rgba(119, 119, 119, 0.86);


}


@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}


div#sliderr { overflow: hidden; }
div#sliderr ul li { width: 20%; float: left; }
div#sliderr ul {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

.transition {
    transition: all .35s ease-in-out;
    /* -webkit-transition: all .35s ease-in-out; */
    -o-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
}


.contrib{
    height: 350px;
}

.contrib-news{
    font-style: italic;
}

#numeros-utiles{
    margin: auto 0;
}

#numeros-utiles li{
    list-style: none;
    line-height: 2em;
}