<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="alert alert-success">
              Actualités: Un groupe gère la création de ce site web(/layouts/alerte)
          </div>
      </div>
  </div>
</div>
