<div class="navbar navbar-inverse set-radius-zero">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <%= image_tag 'magal.png' , :id =>'logoim'%>
            </a>

        </div>

        <div class="left-div">
            
            <div class="user-settings-wrapper">
              <form class="navbar-search pull-right " action="" >
                <input type="text" class="form-control search-query span1" placeholder="Search" >
              </form>

            </div>
        </div>
    </div>
</div>
