<footer>
    <div class="container">
      <div class="row">

          <div class="col-md-12">

              <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li><a class="#" href="#">La Grande Mosquée de Touba</a></li>
                <li><a href="#">Bibliothèque Cheikhoul Khadim</a></li>
                <li><a href="#">Hotel de Ville</a></li>
                <li><a href="#">Résidence Cheikhoul Khadim</a></li>
                <li><a href="#">Aïnou Rahmaty</a></li>


              </ul>

          </div>


      </div>
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
                &copy; 2015 Commission Magal de Touba | By : <a href="http://www.ndongodaara.com/" target="_blank">AyNdongo</a>
            </div>

        </div>
    </div>
</footer>
