<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2015 Commission Magal de Touba | By : <a href="http://www.ndongodaara.com/" target="_blank">AyNdongo</a>
            </div>

        </div>
    </div>
</footer>
