<footer class="footer-distributed">


  <div class="footer-left">


    <ul id="menu-top" class="nav navbar-nav navbar-right">
      <li><a class="#" href="#">La Grande Mosquée de Touba</a></li>
      <br>
      <li><a href="#">Bibliothèque Cheikhoul Khadim</a></li>
      <br>
      <li><a href="#">Hotel de Ville</a></li>
      <br>
      <li><a href="#">Résidence Cheikhoul Khadim</a></li>
      <br>
      <li><a href="#">Aïnou Rahmaty</a></li>


    </ul>


    <p class="footer-company-name">Comission Magal de Touba © 2015</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Contact Us</p>

    <form action="#" method="post">

      <input type="text" name="email" placeholder="Email">
      <textarea name="message" placeholder="Message"></textarea>
      <button>Send</button>

    </form>

  </div>

</footer>