<footer class="footer-distributed">


  <div class="footer-left">


    <ul id="menu-top" class="nav navbar-nav navbar-right">
      <li><a class="#" href="#">La Grande Mosquée de Touba</a></li>
      <br>
      <li><a href="#">Bibliothèque Cheikhoul Khadim</a></li>
      <br>
      <li><a href="#">Hotel de Ville</a></li>
      <br>
      <li><a href="#">Résidence Cheikhoul Khadim</a></li>
      <br>
      <li><a href="#">Aïnou Rahmaty</a></li>

    </ul>


    <p class="footer-company-name">Comission Magal de Touba © 2015</p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p>Numéros utiles</p>
    <br>
    <ul id="numeros-utiles">
      <li><strong>Comission du Magal:</strong> +133655555</li>
      <li><strong>Gendarmerie:</strong> 17</li>
      <li><strong>Pompiers:</strong> 18</li>
      <li><strong>Matlaboul Fawzayni:</strong>+133655555</li>
      <li><strong>SAMU:</strong>+133655555</li>
    </ul>

  </div>

</footer>
