<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
             <strong>أشهد أن لآ إلَـهَ اِلا الله وأشهد أن محمدا رسول الله</strong>
             <strong></strong>


							<% if user_signed_in? %>
								|
								<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
							<% else %>
								|
								<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
							<% end %>
            </div>

        </div>

    </div>
</header>
