<header>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">
              Dieuredieufé <strong>Serigne Touba</strong>
                &nbsp;&nbsp;
                Diarama <strong>Mame Cheikh Ibra Fall</strong>

            </div> -->
          <div class="col-md-12">
            <strong>أشهد أن لآ إلَـهَ اِلا الله وأشهد أن محمدا رسول الله</strong>
          </div>

        </div>

    </div>
</header>
