<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a class="menu-top-active" href="#">Accueil</a></li>
                        <li><a href="#">Historique</a>
                                <ul class="nav">
                                  <li><a href="#">L'Islam</a></li>
                                  <li><a href="#">Le Cheikh</a></li>
                                  <li><a href="#">La voix soufis Mouride</a></li>
                                  <li><a href="#">Mag Gni</a></li>
                                  <li><a href="#">Les Khalifes</a></li>
                                  <li><a href="#">Les grandes figures</a></li>
                                </ul>
                        </li>
                        <li><a href="#">Le Grand Magal</a>
                            <ul class="nav">
                                <li><a href="#">Les Fondements</a></li>
                                <li><a href="#">La Ville Sainte</a></li>
                                <li><a href="#">Programme officiel</a></li>
                                <li><a href="#">Programmes daaras et dahiras</a></li>
                                <li><a href="#">Les lieux de Ziarras</a></li>
                            </ul>
                        </li>
                        <li>
													<%= link_to 'Actualités', articles_path %>
                        </li>
                        <li><a href="#">Viatique</a>
                            <ul class="nav">
                              <li><a href="#">Jazbul Murid</a></li>
                              <li><a href="#">-----</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Eukhlou Xassidas</a>
                          <ul class="nav">
                            <li><a href="#">Xam Xam</a></li>
                            <li><a href="#">Drouss</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Mediathéque</a>
                          <ul class="nav">
                            <li><a href="#">Wakhtane</a></li>
                            <li><a href="#">Kourel</a></li>
                            <li><a href="#">Rajass</a></li>
                            <li><a href="#">Zikr</a></li>
                          </ul>
                        </li>

                        <li><a href="#">Contact</a></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
