<div id="content-wrapper">
    <section class="menu-section">
      <div class="container">
        <div class="row" id="menu_haut">
          <div class="col-md-12 col-lg-12">
            <div class="navbar-collapse collapse">
              <ul id="menu-top" class="nav navbar-nav navbar-right">
                <li><%= link_to 'Accueil', root_path %></li>
                <li><a href="#">Le Fondateur du Mouridisme</a>

                </li>
                <li><a href="#">Le Grand Magal</a>

                </li>
                <li><a href="#">La Ville Sainte de Touba</a>

                </li>
                <li><a href="#">Les Khalifes du cheikh</a>
                </li>
                <li><a href="#">Le comité d'organisation</a>

                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>